body {
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #cea177 74%);
    margin: 0;
    padding: 50px;
}

.navigationWrapper {
width: 12%;
background-color: rgb(231, 243, 215);
padding: 0%;
 
}

a {
    font-family: 'Bungee Inline', cursive;
   text-shadow: 0px 0px; 
    font-weight: 800px;
    text-decoration: none;
   color:rgb(114, 87, 77); 
   transition: 0.10s;
   font-size: 16px;
}

a:hover {
    color:rgb(238, 220, 141); 
    font-size: 25px;
    transition: 0.10s;

}


table, th, td {
    border-collapse: collapse; 
    border: 6px solid rgb(117, 117, 106); 
    padding: 14px;

}

th {
   background-color: rgb(238, 212, 182);
   border: 10px; 
}

.pack {
    text-align: center;
}
